<%= render 'layouts/header'%>

<div class="parallax-container parallax-container">
  <div class="parallax">
    <%= image_tag "vons.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center" >
        <h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>
        <h1 class="white-text text-lighten-3 valign thin marginSetter" id="top_pic_title">Portfolio</h1>

      </div>
    </div>
  </div>
</div>

<div class="section detail">
  <img class="responsive-img detail_logo" id="park_dashpoint" src="/assets/parkDashpoint.png">
  <img class="responsive-img four" src="/assets/main_bg.jpg">

  <div class="container">
  <h4>Park at Dashpoint</h4>
  <h6>280 Units – Garden Style</h6>
  <h6>Federal Way, WA</h6>
  <p>Discover quality, affordable apartment living the way it was meant to be - your new home at Park at Dashpoint Apartments awaits. Located in a beautiful cul-de-sac in breathtaking Federal Way, WA our community is the perfect medium between country and city living. Fine shopping and dining options are just a short distance away and Park at Dashpoint is also within close proximity to hiking trails and Twin Lakes and Lakota schools. Easy access to public transportation and major highways also makes commuting a breeze. With unique living spaces delightfully crafted, our one, two and three-bedroom apartment homes give the discerning renter what they want.</p>
  <hr>
  </div>

  <img class="responsive-img detail_logo" id="meridian_west" src="/assets/meridianWest.png">
  <img class="responsive-img four" src="/assets/second.jpg">
  <div class="container">
  <h4>Meridian West</h4>
  <h6>181 Units – Garden Style</h6>
  <h6>Puyallup, WA</h6>
  <p>Meridian West Apartments offers a superior location on the crest of Puyallup's South Hill neighborhood. We are on the bus line, minutes from Highway 512, a short walk to the famous Puyallup fairgrounds, and South Hill Mall. Our quaint homes offer efficient floor plans to compliment your busy lifestyle that include dishwasher, wall-to-wall carpeting, ceiling fans, refrigerator and on-site laundry facilities. We also have all the community essentials, a sparkling seasonal pool and fitness center with treadmill for a quick work out!</p>
  <hr>
  </div>


  <img class="responsive-img detail_logo" id ="waterbrook" src="/assets/waterbrook.png">
  <img class="responsive-img four" src="/assets/third.jpg">
  <div class="container">
  <h4>Waterbrook Lofts & Apartments</h4>
  <h6>189 Units – Garden Style</h6>
  <h6>Kent, WA</h6>
  <p>Combining the beauty and quality of classic design with the comfort and convenience of contemporary finishes, Waterbrook is a haven to enjoy the many facets of your individual lifestyle, both inside your home and outdoors. From our thoughtfully-designed, light-filled apartments and lofts, to the manicured grounds and resort like community center, Waterbrook brings you the casual sophistication you deserve. In your time off, enjoy a stroll around the sparkling lake or relax poolside to soak up some sun. Take advantage of our state-of-the-art fitness center located in the brand new resort-style clubhouse. And on those chilly evenings, gather around the outdoor cobblestone fireplace. Waterbrook Apartments is truly designed with you in mind.</p>
  <hr>
  </div>



  <img class="responsive-img detail_logo" id="ridgeview" src="/assets/ridgeView.png">
  <img class="responsive-img four" src="/assets/fourth.jpg">
  <div class="container">
  <h4>Ridgeview Apartments</h4>
  <h6>183 Units – Garden Style</h6>
  <h6>Escondido, CA</h6>
  <p>Located in heart of North San Diego County, Ridgeview Apartments puts you exactly where you want to be, within close proximity to beautiful wineries, craft breweries, unique arts and theatre, delicious culinary experiences and a charming historic downtown. We offer our residents the finest in modern amenities, including a fitness center, a swimming pool, and a sauna. With a wide variety of apartment designs, Ridgeview has a living space for every need. </p>
  <hr>
  </div>

  <img class="responsive-img detail_logo" id="temple_city" src="/assets/templeCity.png">
  <img class="responsive-img last" src="/assets/vons.jpg">
  <div class="container">
  <h4>Temple City Marketplace</h4>
  <h6>Regional Shopping Center – 100,000 Square Feet of Retail Space</h6>
  <h6>Temple City, CA</h6>
  <p>Located in the heart of San Gabriel Valley, the Temple City Marketplace is the premiere regional shopping center serving the San Gabriel Valley communities.

    The Marketplace offers a variety of specialty shops and restaurants that combine to create and enjoyable shopping experience. Temple City Marketplace offers over 100,000 square feet of retail space, anchored by TJ Maxx and Daiso Japan.

    It is located in a highly visible and convenient location at the intersection of Rosemead Boulevard and Las Tunas Road in close proximity to I-10, I-605 and I-210 as well as SR-60.

    The center draws many shoppers from not only Temple City, but also the cities of Alhambra, Arcadia, Pasadena, El Monte, San Gabriel, and beyond, serving a population of 2.5 million people in the San Gabriel Valley.</p>
  <hr>
  </div>





</div>
</div>
