<%= render 'layouts/header'%>

<div class="parallax-container es-parallax-container">
  <div class="parallax">
  	<%= image_tag "main_bg.jpg"%>
  </div>
  <div class="valign-wrapper">
	  <div class="container">
	    <div class="row center">
	      <h1 class="grey-text text-lighten-3" id="es-main-title">REAL ESTATE GROUP</h1>
		  	<div class="waves-effect waves-light btn-large transparent es-main-btn">
		  		View Our Properties
		  	</div>
	    </div>
	  </div>
	</div>
</div>

<%= render 'layouts/footer'%>