<%= render 'layouts/header'%>

<div class="parallax-container second-parallax-container">
  <div class="parallax">
    <%= image_tag "长条.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center marginSetter" >
        <h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>
        <h1 class="white-text text-lighten-3 valign thin marginSetter" style ="letter-spacing: 8px; font-weight:300" id="intro_top_pic">Key Leaders</h1>

      </div>
    </div>
  </div>
</div>
<div class=" section white">
  <div class="row">
  <div class="col s6 ">
    <div class="container twopics" style="margin-right: 0">
    <h6 class = "grey-text">Founder & CEO</h6>
    <h3> Susan Lew</h3>
      <img class="responsive-img" src="/assets/susan.jpg">

    <h3>dalsnf</h3>

    </div>
  </div>

    <div class="col s6">
      <div class="container twopics" style="margin-left: 10%">



      <h6 class = "grey-text">President</h6>
      <h3> Stephen Lew</h3>
        <img class="responsive-img" src="/assets/steve.jpg">




      </div>

  </div>



</div>
<%= render 'layouts/footer'%>