<%= render 'layouts/header'%>

<div class="container">
	<h4>
	Susan Lew

	Founder & CEO

	S. Lew & Associates, Inc.
	</h3>

	<p>
		After many years of managing her family's real estate investments in San Diego, Ms. Lew founded S. Lew & Associates, Inc., her

	own real estate firm in 1978.  Ms. Lew and her husband have been active in real estate investments and developments and 

	managing a portfolio of real estate investments in State of California and Washington and other states since then.
	</p>

	<p>
		Also as an amateur restaurateur, she has realized her dream and created Emerald Chinese Seafood Restaurant and Pearl

	Chinese Cuisine, two of the most respected and successful restaurant in San Diego.
	</p>
	<p>Ms. Lew served on the board as director for two public companies, Bank of Commerce and 1st Pacific Bank of California, both

had been sold.</p>
	<p>Successful in her business ventures, Ms. Lew firmly believes in giving back to her community.</p>
	<p>As a civic leader, Ms. Lew served as a Commissioner of the San Diego Unified Port District from 1993 to 2001, and was

appointed as the Chairman of the Port in January 1995.  She also served as a member of the California Economic Strategy Pane 

appointed by and as advisor to California State Governor Pete Wilson. One of Susan’s passions is to promote U.S.-China 

relation; she co-founded the San Diego-Yantai Friendship Society in 1985 and has appointed to as an economic advisor to City 

Government of Yantai, China.</p>

	<p> The list goes on and on...</p>

</div>

<%= render 'layouts/footer'%>