<%= render 'layouts/header'%>

<div class="parallax-container parallax-container">
  <div class="parallax">
    <%= image_tag "vons.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container" style="width:80%">
      <div class="row center" >
        <!--<h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>-->
        <h1 class="white-text text-lighten-3 valign thin marginSetter leaders">Let's know more about our leaders.</h1>

      </div>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row">
    <div class="col s4">
      <div class="container susanLeft">
        <img class="responsive-img" src="/assets/steve.jpg">
        <h5>Stephen Lew</h5>
        <p>S. Lew & Associates, Inc.</p>
        <p>President</p>
        <p>T: 858.565.8333 ext. 209</p>
        <p>E: steve@slewassociates.com</p>




      </div>


    </div>

    <div class="col s8 ">
      <div class="container susanRight">
        <p>Stephen Lew, President of S. Lew & Associates, Inc., in San Diego, a private real estate investment firm that specializes in commercial real estate, large multi-family residence properties and land development throughout the Western United States, including California and Washington. </p>
        <h4>Director of Community Outreach and Business Relations for Mayor</h4>
        <p>Mr. Lew previously served as the Director of Community Outreach and Business Relations for Mayor Jerry Sanders in the City of San Diego from 2005 to 2012. In this capacity, he oversaw the Mayor's agenda and was responsible for managing initiatives, policies and projects in all sectors including Land Use, Planning, Economic Growth and Crisis Management from the Office of the Mayor.  Mr. Lew led the Mayor's staff in the creation of the Mayor's Civic Leadership Agenda in order to concentrate on the Mayor's priorities for San Diego ensuring the city's future success. </p>
        <p>Also previously as the Director of Business Relations, Mr. Lew focused on working with the Mayor's Economic Growth Services Team and cultivated relationships with business organizations representing San Diego's diverse economic sectors, large corporations and small businesses in the region. He created and stewarded BrewTech, the Mayor and City’s leadership in cultivating and fostering San Diego as the Craft Beer Capital of the World.</p>
        <p>Mr. Lew currently serves on a number of non-profit and professional boards and organizations such as the San Diego Downtown Partnership, San Diego Regional Chamber of Commerce Circles of Influence, Asian Business Association and the Balboa Park Conservancy.</p>
      </div>
  </div>

</div>
  </div>