<%= render 'layouts/header'%>

<div class="parallax-container parallax-container">
  <div class="parallax">
    <%= image_tag "vons.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center marginSetter" >
        <h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>
        <h1 class="white-text text-lighten-3 valign thin marginSetter" id="top_pic_title">Strategy</h1>

      </div>
    </div>
  </div>
</div>
<div class=" section white">
  <div class=" container">
  <p class = "strategy-font">S. Lew & Associates, Inc. has a diversification strategy that drives absolute values and yields matching specific investor objectives. Our foremost capability is the ability to recognize value and to utilize our integrated disciplines in order to maximize investment returns for its investors.</p>
  </div>
  <div class=" container">
    <p class = "strategy-font">"S. Lew & Associates, Inc. will engage in situational opportunities including:</p>
  </div>
</div>
<div class="row done">
  <div class="col s6 ">
    <div class = "container l">
      <div>
      <i class="material-icons small">done</i>
      <span class = "strategy-font">Market Reposition</span>
      </div>

      <div>
      <i class="material-icons small">done</i>
      <span class = "strategy-font">Market Research</span>
      </div>

      <div>
      <i class="material-icons small">done</i>
      <span class = "strategy-font">Investment Underwriting & Valuation</span>
      </div>

      <div>
      <i class="material-icons small">done</i>
      <span class = "strategy-font">Acquisition & Disposition of Assets</span>
      </div>


    </div>
  </div>

  <div class="col s6 ">
    <div class = "container">
      <div>
        <i class="material-icons small">done</i>
        <span class = "strategy-font">Joint Ventures</span>
      </div>

      <div>
        <i class="material-icons small">done</i>
        <span class = "strategy-font">Acquisition Financing and Re-Financing</span>
      </div>

      <div>
        <i class="material-icons small">done</i>
        <span class = "strategy-font">Asset Management</span>
      </div>

      <div>
        <i class="material-icons small">done</i>
        <span class = "strategy-font">Due Diligence Support</span>
      </div>


    </div>
  </div>


</div>