// Place all the styles related to the homie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.es-logo-anchor{
	height: 100%;
	img{
		height: 100%;
		display: inline-block;
	}
}

.es-parallax-container{
	//height: 640px;
	.valign-wrapper{
		height: 100%;
      #es-brandtop{
        font-family: "Lucida Console";
        margin-bottom: 0px;
        font-stretch: extra-expanded;
        font-size: 80px;

      }
      #es-brandbottom{
        font-family: "Lucida Console";
        margin-top: 0px;
        line-height:1%;
        font-weight: 100;

      }
		.es-main-btn{
			border: 3px solid white;
            padding-left: 10px;
            padding-right: 10px;
		}
		#es-main-title{
          padding-top: 30px;

			margin-bottom: 40px;
          letter-spacing: 30px;
          font-weight: 200;

		}




	}
}
.parallax-container{
  .valign-wrapper {
    height: 100%;

      #con-middle {
        width: 85%;
      }
    #es-title {
      display: inline;

      font-size: 40px;
      font-weight: lighter;




    }
    #top_pic_title {
      letter-spacing: 8px;
      font-weight: 300;
    }
    .leaders{
      letter-spacing: 8px;
      font-weight: 300;
      font-size: 55px;

    }
    .marginSetter{
      margin-top: 5px;
      margin-bottom: 5px;
    }

  }

}



.twopics{
  .pics{
    position: relative;
    width:75%;
    .btn {
      opacity: 0.8;
    }
  }
  .knowMore{
    position: absolute;
    bottom:6px;
    right:0;
  }



  img {
    width:400px;
    height:400px;
  }

}
.done{
  .l {

    margin-left: 30%;
  }
    .material-icons{
      position: relative;
      top:6px;
      color: teal;
    }

  }
.portfolio {
  .container {
    position: relative;

  }
  position: relative;
  top: 40px;
  .picleft {

    margin-right: 0;

  }
  .picright {
    margin-left: 0;
  }
  img {
    height: 250px;
    width: 100%;

  }
  p {

    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
  }

  .top_p {
    top: 40%;
    font-size: 170%;
    letter-spacing: 3px;
    font-weight: 200;

  }
  .bottom_p {
    top: 55%;
    font-weight: 200;
    font-size: 120%;

  }
}

.susanLeft {
  width:70%;
  margin-top:70px;
  margin-right:0;
  img {
    width:250px;
    height: 250px;

  }
  h4{

    margin-bottom: 5px;
    font-family: "Arial Black";
    font-size: 2.7em;
    font-weight:700;
    margin-bottom: 20px;
  }
  h5{
    font-family: Impact;
    font-size: 2em;
  }
  p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Arial";

  }
}

.susanRight{
  width:80%;
  margin-top: 70px;
  margin-left: 0;
  p,span{
    color:grey;
    margin-bottom: 40px;
    font-family: "Open Sans";
    line-height: 180%;
  }
  .material-icons{
    position: relative;
    top:6px;
    color: #00b8d4;
    margin-right:40px;
  }
}

.detail {
  img.detail_logo{
    display: block;
    margin: auto;
    margin-top:80px;
    margin-bottom: 70px;
  }
  h6{
    color:grey;
  }
  p{
    color:#424242;
  }
  img.four{
    display: block;
    margin: auto;
    width:60%;
    height:500px;


  }

  img.last{
    display: block;
    margin: auto;
    width:60%;



  }

  .container{
    width:60%;
  }
  hr{
    border-color: #f5f5f5;
    margin-top:30px;
  }
}



.strategy-font {
  font-size: 130%;
  color: grey;
  font-weight: lighter;
}
.es-footer{
	margin-top: 0px !important;
}
