<div class="parallax-container es-parallax-container">
  <div class="parallax">
    <%= image_tag "main_bg.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center">
        <h1 class = "white-text text-lighten-3" id = "es-brandtop">S.LEW</h1>
        <h5 class = "white-text text-lighten-3" id = "es-brandbottom">& ASSOCIATES, INC.</h5>
        <h4 class="grey-text text-lighten-3" id="es-main-title">REAL ESTATE GROUP</h4>
        <div class="waves-effect waves-light btn-large transparent es-main-btn">
          Our Properties
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" section white">
  <div class=" row container">
    <h4>Creative</h4>
    <p class="black-text">S. Lew & Associates, Inc. is a full service real estate investment company. We invest and manage real

      estate assets in a diverse range of markets and provide detailed-oriented and creative service for a

      broad range of service. We have designed our operating model to provide a boutique-style service

      platform commensurate with the demands of investment properties.</p>
  </div>
  <div class=" row container">
    <h4>Professional</h4>
    <p class="black-text">S. Lew & Associates, Inc. corporate headquarters is located in San Diego, California. Our experienced

      professionals use a fully integrated investment platform including property acquisition, asset

      management, and property management service.</p>
  </div>
  <div class=" row container">
    <h4>Diverse</h4>
    <p class="black-text">S. Lew & Associates, Inc. is uniquely specialized in investment grade real estate including multi-

      family, retail and shopping centers, industrial and office buildings. Execution is focused

      nationally with a primary focus on Western U.S. markets.</p>
  </div>
</div>