<div class="parallax-container second-parallax-container">
  <div class="parallax">
    <%= image_tag "second.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center" >
        <h3 class="white-text text-lighten-3 valign" id="es-title">Meridian West, Puyallup, WA,181 Units – Garden Style</h3>
      </div>
    </div>
  </div>
</div>
<div class=" section white">
  <div class=" row container" id="third-block">
    <h3 class = "center">Contact Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>