<div class="parallax-container third-parallax-container">
  <div class="parallax">
    <%= image_tag "third.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container center">
      <div class="row center" >
        <h3 class="white-text text-lighten-3 valign" id="es-third-title">Waterbrook Lofts & Apartments

          Kent, WA

          189 Units – Garden Style</h3>
      </div>
    </div>
  </div>
</div>
